body{

margin:0;

background:#080808;

color:white;

font-family:Arial;

text-align:center;

}


h1{

margin-top:20px;

}


#status{

margin:15px;

color:#00ff00;

}



.dashboard{

display:flex;

justify-content:center;

align-items:center;

gap:25px;

margin-top:40px;

}



.gauge{

width:170px;

height:170px;

border-radius:50%;

border:5px solid #777;

display:flex;

flex-direction:column;

justify-content:center;

background:#111;

}



.title{

color:#aaa;

}



.value{

font-size:40px;

font-weight:bold;

}



.value small{

display:block;

font-size:14px;

}



.gearBox{

display:flex;

flex-direction:column;

gap:10px;

}



#gear{

height:100px;

width:100px;

background:#222;

border:3px solid white;

display:flex;

justify-content:center;

align-items:center;

font-size:55px;

}



button{

font-size:20px;

border-radius:10px;

}



#plus,#minus{

height:45px;

width:70px;

}



.controls{

margin-top:40px;

}



.controls button{

height:70px;

width:150px;

margin:15px;

color:white;

}



#gas{

background:green;

}



#brake{

background:red;

}



.assist button{

display:block;

margin:15px auto;

width:260px;

height:50px;

color:white;

border:none;

}



.off{

background:#900;

}



.on{

background:#090;

}



#version{

position:fixed;

right:10px;

bottom:10px;

color:#777;

font-size:14px;

}
