body {

margin:0;

background:#080808;

color:white;

font-family:Arial,sans-serif;

text-align:center;

}



h1 {

margin-top:20px;

}



#status {

color:#00ff00;

margin:10px;

font-size:14px;

}



.dashboard {

display:flex;

justify-content:center;

align-items:center;

gap:25px;

margin-top:40px;

}



.gauge {

width:180px;

height:180px;

border-radius:50%;

border:5px solid #666;

background:#111;

display:flex;

flex-direction:column;

justify-content:center;

}



.label {

color:#aaa;

font-size:18px;

}



.number {

font-size:38px;

font-weight:bold;

}



.number small {

display:block;

font-size:15px;

}



.gear-area {

display:flex;

flex-direction:column;

gap:10px;

}



.gear {

width:110px;

height:110px;

background:#222;

border:3px solid #888;

display:flex;

align-items:center;

justify-content:center;

font-size:60px;

}



.shift {

width:70px;

height:45px;

font-size:30px;

}



.controls button {

width:140px;

height:60px;

margin:20px;

font-size:22px;

border-radius:12px;

}



#gas {

background:#006600;

color:white;

}



#brake {

background:#990000;

color:white;

}



.assist {

margin-top:15px;

}



.assist button {

display:block;

margin:10px auto;

width:260px;

height:50px;

font-size:17px;

border-radius:10px;

color:white;

border:none;

}



.shifter-off {

background:#990000;

}



.shifter-on {

background:#008000;

}



#version {

position:fixed;

bottom:10px;

right:15px;

color:#777;

font-size:14px;

}
